// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$black: #000;
$white: #fff;
$gray: #0E0000;

$light-gray: #F4F4F4;
$background-white:  #FAFAFA;
$background-white-light: #FEFEFE; 
$background-grey:  #E5E5E5;

$yance-yellow: #FEDF44;

$text-white: #FFFBFB;

$text-paragraph: #8B8B8B;
$text-darkish: #464646;
$dark-text: #354147;

$dark-hover: #555;

$difficulty-level: #FC9F32;

$sweat-level: #96D2FF;

$beginner: #57C784;

$good: #62DDF5;

$expereinced: #FD1015;
