<h1>Welcome to yance, <%= @user.first_name %></h1>
  <p>
    You have successfully signed up to yance, the leading online platform for live sport classes!
  </p>

<p>Thanks for joining and have a great day!</p>
