.favourites {
  h2 {
    font-size: 18px;
    font-weight: bolder;
    color: $dark-text;
  }
}

.all-classes-title {
  font-size: 18px;
  font-weight: bolder;
  color: $dark-text;
}

.page {
  padding-top: 73px;
}

div:focus {
  outline: none;
}

input:focus {
    outline:none;
}

html {
  scroll-behavior: smooth;
}

.main-content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  .content {
    flex-grow: 1;
  }
}
