.favourites {
  h2 {
    font-size: 18px;
    font-weight: bolder;
    color: $dark-text;
  }
}

.all-classes-title {
  font-size: 18px;
  font-weight: bolder;
  color: $dark-text;
}

.page {
  padding-top: 73px;
}
