.home-page-logo {
  width: 300px;
  position: relative;
  left: 360px;
}

.home-page-logo-img {
  height: 40px;
}

.home-page-logo-name {
  height: 52px;
  margin-left: 16px;
  position: relative;
  bottom: 9px;
}

#home-title {
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: bolder;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 12px;
  }

  #browse-text{
    color: white;
  }

.browse-button {
  background-color: #FEDF44;
  border: none;
  border-radius: 25px;
  color: black;
  font-weight: bolder;
  padding: 12px 16px;
  font-size: 14px;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 8px;
  }
}

.banner-section {
  height: 100vh;
  background-image: url("https://res.cloudinary.com/dorianwilsondebriano/image/upload/v1606478868/yance-background-image_tetvbe.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-content {
  padding-top: 25vh;
  display: flex;
  justify-content: center;
}

.learn-more {
  text-align: center;
  position: relative;
  top: 140px;
    p {
    color: white;
  }
  a {
    text-decoration: none;
    color: white;
  }
}

@media(max-width: 768px) {
  .learn-more {
    display: none;
  }
}

#banner-caret {
  color: white;
  font-size: 32px;
}


.punchliner-search {
  margin-top: 90px;
  justify-content: space-between;
}

#punchliner-searchbar-right {
  width: 650px;
}

.home-info-section {
  background-image: url("https://res.cloudinary.com/dorianwilsondebriano/image/upload/v1606480943/background-blocks_kio8x2.png");
  height: 700px;
  justify-content: space-between;
  margin-top: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.punchliner-left {
  h2 {
    font-weight: bolder;
    font-size: 24px;
    color: $dark-text;
  }
  p {
    font-size: 16px;
  }
}

.punchliner-right {
  h2 {
    font-weight: bolder;
    font-size: 24px;
    color: $dark-text;
    text-align: end;
    padding-right: 10px;
  }
}

.promo-banner {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("https://res.cloudinary.com/dorianwilsondebriano/image/upload/v1606389292/h5txfhai6twx8hqc5dwiskfnxgvs.jpg");
  height: 145px;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  h2 {
    font-weight: bolder;
    font-size: 32px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 12px;
    color: white;
    text-decoration: none;
    &:hover {
      color: white;
      text-decoration: none;
    }
  }
}

.promo-banner-text {
  color: white;
  text-decoration: none;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.how-it-works-section {
  margin-top: 70px;
  h2 {
    font-weight: bolder;
    font-size: 24px;
    color: $dark-text;
  }
  p {
    font-size: 16px;
  }
}

.how-to-image {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 12px;
  border-radius: 8px;
  height: 200px;
  margin: 30px 0px 30px 0px;

}

.newsletter-circle {
  position: absolute;
  right: 50px;
  bottom: 20px;
  width: 250px;
  // background-color: rgba(255, 255, 255, 0.4);
  background-color: rgba(254, 205, 66, 0.8);
  border-radius: 4px;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 1px 12px;
}

@media(max-width: 768px) {
  .newsletter-circle {
    display: none;
  }
}

@media(max-width: 768px) {
  .navigation {
    padding: 12px;
  }
}
