.upcoming-classes-section {
  margin-top: 20px;
  border-radius: 4px;
    h2 {
    font-size: 18px;
    font-weight: bolder;
    color: $dark-text;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.profile-upcoming-classes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

@media(max-width: 992px) {
  .profile-upcoming-classes {
    grid-template-columns: 1fr;
  }
}

.profile-created-classes-section {
  margin-top: 20px;
  border-radius: 4px;
  position:relative;
    h2 {
    font-size: 18px;
    font-weight: bolder;
    color: $dark-text;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
.profile-created-classes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

@media(max-width: 992px) {
  .profile-created-classes {
    grid-template-columns: 1fr;
  }
}
