.profile-header {
  margin-top: 20px;
  margin-left: 20px;
  h2 {
    position: relative;
    top: 7px;
    padding-left: 20px;
  }
}

.page-title {
  font-size: 24px;
  font-weight: bolder;
  color: #354147;
  padding-top: 12px;
  padding-bottom: 26px;
}

.user-info {
  margin-top: 12px;
  justify-content: space-around;
}

.my-account {
  box-shadow: 0 2px 14px rgba(126,87,88,.1), 0 3px 6px rgba(0,0,0,.08);
  border-radius: 4px;
  width: 50%;
  margin-right: 20px;
  padding: 12px;
  position: relative;
   li{
    text-decoration: none;
    list-style: none;
    font-size: 12px;
   }
   p {
    font-weight: bolder;
    color: $dark-text;
  }
}

.about-me {
  box-shadow: 0 2px 14px rgba(126,87,88,.1), 0 3px 6px rgba(0,0,0,.08);
  border-radius: 4px;
  width: 50%;
  padding: 12px;
  position: relative;
   li{
  text-decoration: none;
  list-style: none;
  font-size: 12px;
 }
  p {
    font-weight: bolder;
    color: $dark-text;
  }
}

.upcoming-classes-section {
  margin-top: 20px;
  border-radius: 4px;
    h2 {
    font-size: 18px;
    font-weight: bolder;
    color: $dark-text;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.profile-upcoming-classes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

@media(max-width: 992px) {
  .profile-upcoming-classes {
    grid-template-columns: 1fr;
  }
}

#info-edit-icon {
  position: absolute;
  right: 8px;
  top: 8px;
  font-size: 25px;
  color: #929292;
}

#about-edit-icon {
  position: absolute;
  top: 8px;
  font-size: 25px;
  right: 8px;
  color: #929292;
}

.new-class-icon {
  color: $yance-yellow;
  font-size: 34px;
  position: absolute;
  top: 2px;
  right: 4px;
}

.profile-created-classes-section {
  margin-top: 20px;
  border-radius: 4px;
  position:relative;
    h2 {
    font-size: 18px;
    font-weight: bolder;
    color: $dark-text;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
.profile-created-classes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

@media(max-width: 992px) {
  .profile-created-classes {
    grid-template-columns: 1fr;
  }
}
