.success-message {
  margin: 0px 150px;
  margin-bottom: 0px;
  margin-top: 50px;
   h1 {
    font-size: 3.5rem;
    font-weight: 600;
   }
}

.black-return-button {
  background-color: $yance-yellow;
  border-radius: 4px;
  color: black;
  padding: 6px 12px;
}
