.trainer-info-page {
  padding-top: 48px;
}

.trainer-banner-content {
  height: 75vh;
  width: 100%;
  background-color: #EDECE0;
  text-align: center;
  padding-top: 150px;
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url("https://res.cloudinary.com/dorianwilsondebriano/image/upload/v1611332431/pexels-elly-fairytale-3822140_ofme0f.jpg");
  background-size: cover;
  background-position: center;
  h1 {
    text-align: center;
    font-weight: bold;
    font-size: 26px;
    padding: 30px 100px;
    color: white;
  }
  p {
    font-size: 18px;
    letter-spacing: 2px;
    color: white;
  }
}

.reasons-section {
  padding: 60px 150px;
  h2 {
    font-weight: bolder;
    font-size: 26px;
    color: $dark-text;
    padding-bottom: 12px;
  }
}

.reasons-grid {
  display: grid;
  gap: 120px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 24px;
  h2 {
    font-weight: bolder;
    font-size: 18px;
    color: $dark-text;
    padding-bottom: 12px;
  }
  p {
    font-size: 16px;
    color: $dark-text;
  }
}

.how-it-works-element {
  position: relative;
  background-color: #F4F4F4;
  margin: 0px;
  height: 80vh;
  padding-top: 100px;
  padding-left: 60px;
  h2 {
    color: $dark-text;
    font-weight: bolder;
    font-size: 24px;
    padding: 26px 36px 0px 40px;
  }
  p {
    padding: 12px 36px;
    color: $dark-text;
    font-size: 18px;
  }
}

#how-it-works-number {
  position: absolute;
  font-size: 120px;
  font-weight: bold;
  color: rgba(254, 186, 141, 0.3);
  top: 0px;
  left: 0px;
  line-height: 0.7;
}

.how-it-works-image {
  width: 600px;
  object-fit: cover;
  object-position: center;
}

.how-it-works-trainers {

}
