.page-content{
  height: 100vh;
  background-color:white;
}

.header-image{
  margin-top: 76px;
  height: 200px;
  overflow: hidden;
  border-radius: 8px;
}

.remaining{
  height: 75%;
  display: flex;
}

.banner-image{
  width:100%;
  object-fit: cover;
  object-position: center;
  height: 100%;
}

.trainer{
  height:15%;
  display:flex;
}

.trainer-img img{
  border-radius: 50%;
  border: 2px solid #FFC24D;
  position: relative;
  bottom: 32px;
  left: 8px;
}

.trainer-name-follow{
  display: flex;
  padding-left: 16px;
  padding-top: 8px;
}

.trainer-name-follow p {
  display: flex;
  padding-left: 8px;
  margin-right: 4px;
}

.trainer-name{
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: bolder;
}

.follow-review{
  font-family:"Montserrat";
  font-size:11px;
  background-color:#FFC24D;
  color:white;
  border-radius:16px;
  height:24px;
  margin-right:8px;
  margin-left:8px;
  width:52px;
  align-items: center;
  text-align:center;
}

// .tags{

//   height: 15%;
// }

.category{
  background-color: #D7EBFF;
  // width:72px;
  // height:18px;
  border-radius: 25px;
  align-items:center;
  color:#023365;
  font-size: 16px;
  display: inline-block;
  padding: 4px 12px 4px 12px;
}

.title-font{
  font-size: 16px;
  color: $dark-text;
  font-weight: bolder;
}
.content-font{
  font-size: 16px;
}

.bio{
  height:25%;
}
.upcoming{
  height:45%;
  justify-content: center;
  align-items: center;
  padding-top:5px;

}
.classes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

@media(max-width: 992px) {
  .classes {
    grid-template-columns: 1fr;
  }
}

.top-review-row{
  display:flex;
  padding-top:16px;
  justify-content: space-around;
}

.write-review{
color: #FFC24D;
font-size: 16px;
width: 135px;
border: 1px solid #FFC24D;
border-radius: 16px;
align-items: center;
height: 29px;
display: flex;
justify-content: center;
  &:hover {
    color: white;
    background-color: #FFC24D;
  }
}

.user-reviews{
  height: 44%;
  width: 95%;
}
.color-star{
   color:#FFC24D;
}
