<div class="chatroom-page pt-5 mt-5">
  <h2 class="text-center">Welcome to the Yance bubble</h2>
  <div class="chatroom-index-container">
    <%= link_to chatroom_path(@chatrooms.first.id) do %>
      <div class="chatroom" id="yancers-chatroom">
        <%= @chatrooms.first.name %>
        <i class="fas fa-users"></i>
      </div>
    <% end %>
    <%if !@user.trainer_ids.empty? %>
        <%= link_to chatroom_path(@chatrooms.second.id) do %>
          <div class="chatroom" id="trainers-chatroom">
            <%= @chatrooms.last.name %>
            <i class="fas fa-users"></i>
          </div>
        <% end %>
    <% end %>
  </div>
 </div>

