<div class="new-class-page">
  <div class="form-login">
    <div class="form-inputs">
      <h2>Forgot your password?</h2>

      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= f.error_notification %>
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>

        <div class="form-actions">
          <%= f.button :submit, "send reset instructions", class: "btn class-log-in-button" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
