<div class="footer">
  <div class="container justify-content-between py-5">
    <div class="top-part">
        <div class="company-name  mx-1">
          <i class="far fa-copyright"></i>
          <ul>
            <li class="list-item link-color"> 2021 Yance Sports</li>
          </ul>
        </div>
        <div class="links  mx-1">
          <ul>
            <li class="list-item"><%=link_to t('.terms_conditions'), policy_path, class: "link-color"%></li>
          </ul>
        </div>
      <div class="information  mx-1">
        <ul>
          <li class="list-item"><%=link_to t('.pricing'), pricing_path, class: "link-color"%></li>
        </ul>
      </div>
      <div class="logo-socials  mx-1">
        <div class="socials">
          <%= link_to "Instagram", "https://www.instagram.com/yancesports/", class: "color-icon", :target => "_blank" %>
        </div>
      </div>
    </div>
  </div>
  <div id="mc_embed_signup">
    <form action="https://yahoo.us2.list-manage.com/subscribe/post?u=61b0eb7c87d55915b6338db89&amp;id=f9fe4e7482" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll footer-signup-form">
        <input type="email" value="" name="EMAIL" class="required email email-input text-center" id="mce-EMAIL" placeholder="email address" required>
        <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div>
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_61b0eb7c87d55915b6338db89_f9fe4e7482" tabindex="-1" value=""></div>
        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn newsletter-signup"></div>
      </div>
    </form>
  </div>
</div>
