<div class="footer">
  <div class="container d-flex justify-content-between p-5 mt-5">
    <div>
    </div>
    <div class="text-right">
      <p><strong>INFO</strong></p>
      <p>Privacy</p>
      <p>Terms</p>
      <p>Sitemap</p>
      <p class="rights"> yance 2020 all rights reserved</p>
    </div>
  </div>
</div>
