<div class="page">
  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-8 mt-3">
        <%= form_tag sports_classes_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control searchbar",
            placeholder: "All sports"
          %>
           <%= text_field_tag :starts_at,
           params[:starts_at],
          class: "datepicker",
            placeholder: "Date"
            %>
          <div class="button">
            <%= button_tag(type: "submit", class: "btn search-button") do %>
              <i class="fas fa-search search-icon"></i>
          <% end %>

          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


