<div>
  <div class="pricing-banner-image">
    <%= cl_image_tag "https://res.cloudinary.com/dorianwilsondebriano/image/upload/v1611747874/OH5C5731-min_brqv7a.jpg", class: "banner-image" %>
  </div>
  <div class="pricing-box">
    <h1 id="pricing-title"> €26.99 per month and get unlimited access to all live classes given on the yance platform </h1>
    <p> Start with our 14 day free trial</p>
    <p id="small-text">Cancel anytime</p>
  </div>
  <div class="pricing-content">

  </div>
</div>
