<div class="pricing-banner">
  <div class="pricing-banner-content">
    <p>ONE MEMBERSHIP TO RULE THEM ALL</p>
    <h1 class="mt-4"> For just <i class="highlighted-yellow">€26.99</i> per month get unlimited access to all live classes on the yance platform! <br> Start your 14 day trial now!</h1>
    <p>The only membership that will make you feel this good at home</p>
    <p class="mt-5">How to get started</p>
    <div class="d-flex">
      <div class="round-border">1</div> <p class="ml-3">Create a free account</p>
    </div>
    <div class="d-flex">
      <div class="round-border">2</div> <p class="ml-3">Go to the memberships section</p>
    </div>
    <div class="d-flex mb-5">
      <div class="round-border">3</div> <p class="ml-3">Start your 14 day trial for free!</p>
    </div>
    <%= link_to "Create a free account", new_user_registration_path, class: "visit-platform-button ml-0" %>
  </div>
</div>
