<div class="trainer-info-page trainer-banner">
  <div class="trainer-banner-content">
    <div class="container trainer-hero-title">
      <p>LIMITLESS OPPORTUNITIES</p>
      <h1>Expand your opportunities and give a great class experience become a trainer on yance</h1>
    </div>
  </div>
  <div class="reasons-section">
    <h2 class="text-center">Why give classes on yance</h2>
    <div class="reasons-grid">
      <div>
        <h2>All-in-one solution</h2>
        <p>Forget about external links and complicated tools. From one place, schedule, manage and live-stream your classes.</p>
      </div>
      <div>
        <h2>Earn more money</h2>
        <!-- <p>Use yance to give classes in person and online simultaneously and maximize your revenue per class.</p> -->
        <p>With yance, you earn money in more ways than one. Make more money from your existing clients and open up a new income stream by leveraging the yance community.</p>
      </div>
      <div>
        <h2>Grow your community</h2>
        <p></p>
      </div>
    </div>
   </div>
  <div class="how-it-works-trainers">
    <h2>How teaching works on yance</h2>
    <div class="how-it-works-element row">
      <div class="col-sm-12 col-lg-6 pt-5">
        <h2>Create your class</h2>
        <p id="how-it-works-number">1</p>
        <p>Give a title, Description, choose a category and an image to your class. In 2 minutes your class is created and added. Manage all your classes from the "manage your classes" section.</p>
      </div>
      <div class="col-sm-12 col-lg-6">
        <%= cl_image_tag "https://res.cloudinary.com/dorianwilsondebriano/image/upload/v1611513498/create-class_ceeobc.png", class: "how-it-works-image" %>
      </div>
    </div>
    <div class="how-it-works-element">
      <div class="col-sm-12 col-lg-6 p-5">
        <h2>Promote your class</h2>
        <p id="how-it-works-number">2</p>
        <p></p>
      </div>
      <div class="col-sm-12 col-lg-6">

      </div>
    </div>
    <div class="how-it-works-element">
      <div class="col-sm-12 col-lg-6">
        <h2>Give your class</h2>
        <p id="how-it-works-number">3</p>
        <p></p>
      </div>
      <div class="col-sm-12 col-lg-6">

      </div>
    </div>
    <div class="how-it-works-element">
      <div class="col-sm-12 col-lg-6">
        <h2>Earn money</h2>
        <p id="how-it-works-number">4</p>
        <p></p>
      </div>
      <div class="col-sm-12 col-lg-6">

      </div>
    </div>
  </div>
</div>
