<div class="trainer-info-page trainer-banner">
  <div class="trainer-banner-content">
    <div class="container trainer-hero-title">
      <p>LIMITLESS OPPORTUNITIES</p>
      <h1>Expand your opportunities and give a great class experience become a trainer on yance</h1>
    </div>
  </div>
  <div class="reasons-section">
    <div class="reasons-grid">
      <div>
        <h2>All-in-one solution</h2>
        <p>Forget about external links and complicated tools. From one place, schedule, manage and live-stream your classes.</p>
      </div>
      <div>
        <h2>Multiply your revenue</h2>
        <p>Use yance to give classes in person and online simultaneously and maximize your revenue per class.</p>
      </div>
      <div>
        <h2>A new income stream</h2>
        <p>We pay you for every yance user that joins your class. Create yourself a new income stream by leveraging the yance community!</p>
      </div>
    </div>
  </div>
</div>
