<meta HTTP-EQUIV="REFRESH" content="2; url=http://64a33ac232fa.ngrok.io/settings">

 <div class="checkout-container">
  <p class="message">Redirecting your c<span class="selector">a</span>ll... please hold</p>
</div>
