<meta HTTP-EQUIV="REFRESH" content="2; url=https://yancesport.com/settings">

 <div class="checkout-container">
  <p class="message">Redirecting your c<span class="selector">a</span>ll... please hold</p>
</div>
