.booked-sports-classes-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

@media(max-width: 992px) {
  .booked-sports-classes-cards {
    grid-template-columns: 1fr;
  }
}

.booked-sports-classes-card {
  box-shadow: 0 2px 14px rgba(126,87,88,.1), 0 3px 6px rgba(0,0,0,.08);
  border-radius: 4px;
  justify-content: space-between;
  max-height: 167px;
}

.booked-class-card-header {
  padding: 0px 16px;
  padding-top: 12px;
}

.booked-class-card-duration {
  font-size: 12px;
  font-weight: bolder;
}

.booked-class-card-datetime {
  font-size: 12px;
  font-weight: bolder;
  color: #929292;
}

.booked-class-card-category {
  font-size: 12px;
}

.booked-class-card-image {
  width: 200px;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 4px 0px 0px 4px;
}

.booked-card-bottom-section {
  padding: 8px 16px 0px 16px;
}

.booked-class-card-title {
  font-size: 12px;
  font-weight: bolder;
}

.booked-class-card-level-title {
  font-size: 12px;
  font-weight: bolder;
  color: #929292;
  margin-bottom: 4px;
  text-align: center;
}

.booked-class-card-level-content {
  font-size: 10px;
  font-weight: bolder;
  text-align: center;
}

.booked-class-card-trainer {
  display: flex;
  height: 40px;
  margin-bottom: 16px;
  position: relative;
  bottom: -25px;;
  padding-left: 20px;
}

.booked-class-card-fullname {
  margin-left: 20px;
  font-weight: bolder;
}

.booked-class-card-firstname {
  margin-bottom: 0px;
}

.booked-class-card-lastname {
  margin-bottom: 0px;
}

.booked-class-card-footer-grey {
  background-color: rgba(196, 196, 196, 0.1);
  height: 100px;
}
