
.visit-trainer-link {
  font-weight: bolder;
  text-decoration: none;
  color: white;
  &:hover {
    color: white;
    text-decoration: underline;
 }
}

.book-class-link {
  font-weight: bolder;
  text-decoration: none;
  color: black;
  &:hover {
    color: black;
    text-decoration: underline;
 }
}

.class-modal-book-button {
  background-color: $yance-yellow;
  border-radius: 4px;
  width: 100%;
}

.class-modal-info-button {
  background-color: black;
  border-radius: 4px;
  width: 100%;
}

.class-card-book-button {
  background-color: $yance-yellow;
  border-radius: 4px;
  width: 40%;
  width: 40%;
  margin-right: 17px;
}

.class-info-book-buttons {
  padding: 0px 12px 12px 12px;
}

.class-card-info-button {
  background-color: black;
  border-radius: 4px;
  color: white;
  width: 40%;
  &:hover{
    text-decoration: none;
  }
}

.class-info-link {
  font-size: 15px;
  font-weight: bolder;
  text-decoration: none!important;
  color: white;
  &:hover {
    color: white;
    text-decoration: underline;
 }
}

.card-book-class-link {
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
  color: black;
  &:hover {
    color: black;
    text-decoration: underline;
 }
}

.go-to-class-button {
  margin-top: 6px;
  border-radius: 25px;
  font-size: 17px;
  border: solid 1.8px;
  border-color: $yance-yellow;
  position: relative;
  left: 75px;
  top: -25px;
  a {
    color:$yance-yellow;
    text-decoration: none;
    font-weight: bold;
  }
}

.go-to-created-class-button {
  border-radius: 25px;
  border: solid 1.8px;
  border-color: $yance-yellow;
  position: relative;
  left: 109px;
  top: -16px;
  a {
    color:$yance-yellow;
    text-decoration: none;
    font-weight: bold;
  }
}

.profile-cancel-booking {
  width: 100%;
  font-weight: bolder;
  font-size:15px;
  border-radius: 0px 0px 4px 4px;
  background-color: black;
}

.profile-cancel-button {
  color: white;
  text-decoration: none;
    &:hover {
      color:white;
    }
}

.class-log-in-button {
  background-color: $yance-yellow!important;
  border-radius: 4px;
  font-weight: bold;
  width: 100%;
  color: white;
    &:hover {
      color:white;
    }
}
.new-class-icon {
  color: $yance-yellow;
  font-size: 34px;
  position: absolute;
  top: 144px;
  right: 88px;
}

.class-sign-up-button {
  margin-top: 7px;
  margin-bottom: 7px;
  background-color: black!important;
  border-radius: 32px;
  font-weight: bold;
  font-size: 18px;
  width: 100%;
  color: white!important;
}


.btn:focus, .btn.focus {
  box-shadow: none;
}
