.class-modal-book-button {
  background-color: $yance-yellow;
  color: black;
  border-radius: 4px;
  width: 100%;
}

.class-modal-info-button {
  background-color: black;
  color: white;
  border-radius: 4px;
  width: 100%;
}
