
.visit-trainer-link {
  font-weight: bolder;
  text-decoration: none;
  color: white;
  &:hover {
    color: white;
    text-decoration: underline;
 }
}

.book-class-link {
  font-weight: bolder;
  text-decoration: none;
  color: black;
  &:hover {
    color: black;
    text-decoration: underline;
 }
}

.class-modal-book-button {
  background-color: $yance-yellow;
  border-radius: 4px;
  width: 100%;
}

.class-modal-info-button {
  background-color: black;
  border-radius: 4px;
  width: 100%;
}

.class-card-book-button {
  background-color: $yance-yellow;
  border-radius: 4px;
  width: 40%;
  width: 40%;
  margin-right: 17px;
  &:hover {
    text-decoration: none;
  }
}

.booked-class-info-buttons {
  align-items: center;
  text-align: center;
  padding-top: 12px;
  background-color: rgba(200, 200, 200, 0.1);
  width: 100px;
}

.class-info-book-buttons {
  align-items: center;
  text-align: center;
  padding-bottom: 20px;
}

.class-card-info-button {
  background-color: black;
  border-radius: 4px;
  color: white;
  width: 40%;
  &:hover{
    text-decoration: none;
  }
}

.class-info-link {
  font-size: 15px;
  font-weight: bolder;
  text-decoration: none!important;
  color: white;
  &:hover {
    color: white;
    text-decoration: underline;
 }
}

.card-book-class-link {
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
  color: black;
  &:hover {
    color: black;
    text-decoration: underline;
 }
}

.go-to-class-button {
  display: inline-block;
  height: 50px;
  border-radius: 25px;
  font-size: 12px;
  border: solid 1.8px;
  border-color: $yance-yellow;
  a {
    color:$yance-yellow;
    text-decoration: none;
    font-weight: bold;
  }
}

.fa-video {
  font-size: 29px;
  color: $yance-yellow;
}

.fa-window-close {
  font-size: 29px;
  color: black;
  margin-top: 12px;
}

#cancel-class {
  color: black;
  font-size: 10px;
}

.created-class-info-buttons {
  align-items: center;
  text-align: center;
  padding-top: 4px;
  background-color: rgba(200, 200, 200, 0.1);
  width: 100px;
}

// .go-to-created-class-button {
//   border-radius: 25px;
//   border: solid 1.8px;
//   border-color: $yance-yellow;
//   position: relative;
//   left: 86px;
//   top: -16px;
//   a {
//     color:$yance-yellow;
//     text-decoration: none;
//     font-weight: bold;
//   }
// }

.profile-cancel-booking {
  width: 100%;
  font-weight: bolder;
  font-size:12px;
  border-radius: 4px;
  background-color: black;
  display: inline-block;
  height: 50px;
}

.profile-cancel-button {
  color: white;
  text-decoration: none;
    &:hover {
      color:white;
    }
}

.class-log-in-button {
  background-color: $yance-yellow!important;
  border-radius: 4px;
  font-weight: bold;
  width: 100%;
  color: white;
    &:hover {
      color:white;
    }
}

.class-sign-up-button {
  margin-top: 7px;
  margin-bottom: 7px;
  background-color: black!important;
  border-radius: 32px;
  font-weight: bold;
  font-size: 18px;
  width: 100%;
  color: white!important;
}

.btn:focus, .btn.focus {
  box-shadow: none;
}

.fa-pen-square {
  margin-top: 9px;
  font-size: 32px;
  color: #929292;
}

.fa-trash-alt {
  font-size: 24px;
  color: red;
  margin-left: 10px;
}
