.footer {
  background-color: #f9f9f9;
  z-index: 1;
  #mc_embed_signup {
    display: flex;
    justify-content: center;
    padding-bottom: 2%;
  }
  form {
    width: 40%;
  }
  .email-input {
    border: none;
    padding: 6px;
  }
  .newsletter-signup {
    color: $dark-text !important;
  }
}

.top-part{
  display: flex;
  justify-content: space-evenly;
}

.links {
  white-space: nowrap;
}

.company-name {
  display: flex;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 3%;
  li  {
    color: $dark-text !important;
  }
  .fa-copyright {
    padding-right: 0.5%;
    font-size: 0.7rem;
    color: $dark-text !important;
  }
}

.about{
  font-family: "Montserrat";
  align-items:center;
  text-align:center;
  font-weight:bold;
}
.description{
  font-family:"Montserrat";
  font-size:12px;
  text-align:center;

}

.color-icon{
  font-size: 1rem;
  color: $dark-text !important;
  a:hover {
    color: $dark-text !important;
  }
}

.list-item{
  font-family: "Montserrat";
  font-size: 1rem;
  align-items: center;
  text-align: center;
  a {
    color: $dark-text !important;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.color-plane{
 color:$yance-yellow;
}
.btn-style{
  // border:2px solid black;
  border-radius:8px;
  font-size:10px;
  font-weight:bold;
  width:72px;
}
.background{
  // background-color:black
}
.socials{
display:flex;
justify-content:center;
}
.link-color{
  color:black !important;
}
.link-color:hover{
  font-weight:bold !important;
}
#copyright-text {
  font-size: 0.7rem;
}

@media(max-width: 768px) {
    .footer {
      #mc_embed_signup {
        padding-bottom: 10%;
      }
      form {
        width: 65%;
        .email-input {
          padding: 8px;
        }
        .newsletter-signup {
          padding: 8px;
        }
      }
      .list-item {
        font-size: 0.8rem;
      }
      .color-icon {
        font-size: 0.8rem;
      }
    }
  }
