.footer {
  background-color: #F7F7F7;
  z-index: 1;
  #mc_embed_signup {
    display: flex;
    justify-content: center;
    padding-bottom: 3%;
  }
  form {
    width: 40%;
  }
}

.top-part{
  display: flex;
  justify-content: space-evenly;
  // display:grid;
  // grid-template-columns: 1fr 1fr 1fr 1fr;
  // height: 140px;
  // grid-gap:16px;
}

.company-name {
  display: flex;
  white-space: nowrap;
  .fa-copyright {
    padding-top: 2.5%;
    padding-right: 4%;
    font-size: 0.7rem;
  }
}

.about{
  font-family: "Montserrat";
  align-items:center;
  text-align:center;
  font-weight:bold;
}
.description{
  font-family:"Montserrat";
  font-size:12px;
  text-align:center;

}

.color-icon{
  font-size: 1rem;
  color: black;
}

.list-item{
  font-family: "Montserrat";
  font-size: 1rem;
  align-items: center;
  text-align: center;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.color-plane{
 color:$yance-yellow;
}
.btn-style{
  border:2px solid black;
  border-radius:8px;
  font-size:10px;
  font-weight:bold;
  width:72px;
}
.background{
  background-color:black
}
.socials{
display:flex;
justify-content:center;
}
.link-color{
  color:black !important;

}
.link-color:hover{
  font-weight:bold !important;
}

@media(max-width: 768px) {
    .footer {
      .list-item {
        font-size: 0.8rem;
      }
      .color-icon {
        font-size: 0.8rem;
      }
    }
  }
