.new-class-page {
  padding-top: 55px;
}

.form-image {
  // height: 300px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: 1150px;
  padding: 0px;
}

@media(max-width: 992px) {
  .form-image {
    height: 200px;
  }
}

.form-image-edit {
  // height: 300px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: 1350px;
  padding: 0px;
}

@media(max-width: 992px) {
  .form-image-edit {
    height: 200px;
  }
}

.form-image-sign-up {
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: 850px;
}

@media(max-width: 992px) {
  .form-image-sign-up {
    height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.form-image-login {
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: 100vh;
}

@media(max-width: 992px) {
  .form-image-login {
    height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.form-image-edit-user {
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: 1180px;
}

@media(max-width: 992px) {
  .form-image-edit-user {
    height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.form-image-trainer {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  object-position: center;
  // height: 1145px;
  padding: 0px;
}

@media(max-width: 992px) {
  .form-image-trainer {
    height: 200px;
  }
}

.form-create-trainer {
  margin: 0px 150px;
  margin-bottom: 0px;
  h2 {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }

  input{
    border-radius: 32px !important;
    font-size: 12px;
  }

  textarea{
    border-radius: 32px !important;
    font-size: 12px;
  }
  a {
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 12px;
  }
  label {
    font-weight: bold;
    font-size: 14px;
  }
  legend {
    font-weight: bold;
    font-size: 14px;
  }
}

@media(max-width: 992px) {
  .form-create-trainer {
    margin: 20px;
  }
}

.form-create-class {
  margin: 0px 150px;
  margin-bottom: 0px;
  h2 {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }

  input{
    border-radius: 32px !important;
    font-size: 12px;
  }

  textarea{
    border-radius: 32px !important;
    font-size: 12px;
  }
  a {
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 12px;
  }
  label {
    font-weight: bold;
    font-size: 14px;
  }
  legend {
    font-weight: bold;
    font-size: 14px;
  }
}

@media(max-width: 992px) {
  .form-create-class {
    margin: 20px;
  }
}

.form-login {
  background: white;
  border-radius: 32px !important;
  padding-top: 20px;
  padding-top: 20px;
  margin: 0px 150px;
  h2 {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }
  p {
    text-align: center;
    font-size: 12px;
  }

  input{
    border-radius: 18px !important;
  }

  textarea{
    border-radius: 18px !important;
  }

  a {
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 12px;
  }
 label {
    font-weight: bold;
    font-size: 14px;
  }

  legend {
    font-weight: bold;
    font-size: 14px;
  }

  .form-control:focus{
    box-shadow: none;
    border-color: #ced4da;
  }
}

.user_first_name {
  width: 45%;
}

.user_last_name {
  width: 45%;
}

@media(max-width: 992px) {
  .form-login {
    margin: 20px;
  }
}

.form-inputs {
  box-shadow: rgba(0,0,0,0.2) 0px 1px 12px;
  padding: 30px;
  border-radius: 8px;
}

.form-header {
  text-align: center;
  margin-bottom: 24px;
  margin-top: 12px;
}


.form-logo-login {
  width: 210px;
}

.img-thumbnail {
  object-position: center;
  object-fit: cover;
  max-height: 100px;
  width: 100px;
}

.user_remember_me {
  padding-left: 24px;
}

.swal-button {
  border-radius: 2px;
  border : 2px solid $yance-yellow;
  background-color: white;
  color:black;
  font-size: 12px;
}

 .swal button:hover {
background-color: #7ecff4;
}

#trainer_bio {
  height: 200px;
}
