.form-login {
  background: white;
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 32px !important;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 12px;
  h2 {
    margin-top: 10px;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  input{
    border-radius: 32px !important;
  }

  textarea{
    border-radius: 32px !important;
  }

  a {
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 19px;
  }
 label {
    font-weight: bold;
    font-size: 18px;
  }

  legend {
    font-weight: bold;
    font-size: 18px;
  }

  .form-control:focus{
    box-shadow: none;
    border-color: #ced4da;
  }
}

.swal-button {
  border-radius: 2px;
  border : 2px solid #FECD42;
  background-color: white;
  color:black;
  font-size: 12px;

}



