.form-login {
  background: white;
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 32px !important;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 12px;
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px
  }
  input{
    border-radius: 32px !important;
  }

  textarea{
    border-radius: 32px !important;
  }

  a {
    text-decoration: none;
    color: black;
  }
  label {
    font-weight: bold;
    font-size: 18px;
  }
}

.form-trainer{

}

.class-sign-up-button {
  background-color: #FECD42;
}
