.sports-class-message-container {
  p {
    background-color: $yance-yellow;
    border-radius: 8px;
    // width: 70%;
    padding: 2%;
    margin: 2% 0;
  }
}

#user-chatroom-avatar {
  margin: 0;
}
