// COMMUNITY MESSAGE STYLE (has the same styling as sessions apart from the below id)

#messages {
  margin: 0 2%;
}

// SESSIONS MESSAGE STYLE

.current-user-message-container {
  display: flex;
  justify-content: end;
  flex-direction: column;
  padding: 16px 12px;
}

.message-paragraph {
  border-radius: 32px;
  p {
    margin: 0;
    font-size: 1.2rem;
  }
}

.user-avatar {
  margin: 0 0.5%;
  height: 60px;
  width: 60px;
}

.current-user-messenger {
    width: 50%;
    padding-left: 6%;
  p {
    text-align: left;
  }
}

#sports-class-messages {
  margin: 0 2%;
}

.current-user-author {
  width: 90%;
  padding-top: 1.5%;
  font-weight: bold;
  font-size: 1.2rem;
  font-style: normal;
  small {
    color: gray;
  }
}

