.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 54px;
  position: fixed;
  width: 100%;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 12px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 38px;
  position: absolute;
  top: 14%;
  left: 4%;
}

#nav-name {
  font-size: 25px;
  position: absolute;
  top: 15%;
  left: 7.8%;
}

#navbarLogoAndName {
  justify-content: space-between;
    h2 {
    font-size: 0.9rem;
  }
}

#nav-statement{
  position: absolute;
  left: 14%;
  top: 31%;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: rgba(0, 0, 0, 0.8);
}

#navbarDropdown {
  cursor: pointer;
}

#BecomeAtrainer {
  position: absolute;
  right: 163px;
  font-size: 15px;
}

#create-class {
  right: 232px;
  position: relative;
  font-size: 15px;
  top: 16%;
}
