.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 52px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#nav-name {
  font-size: 25px;
  position: absolute;
  top: 11px;
  left: 69px;
}

#navbarLogoAndName {
  justify-content: space-between;
    h2 {
    font-size: 0.9rem;
    }
}

#nav-statement{
  position: absolute;
  left: 167px;
  top: 18px;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: rgba(0, 0, 0, 0.8);
}

#navbarDropdown {
  cursor: pointer;
}

#BecomeAtrainer {
  position:fixed;
  right: 98px;
  font-size: 0.9rem;
}
