.navbar-lewagon {
  justify-content: space-between;
  background: $white;
  padding: 1rem 2rem;
  height: 90px;
  position: fixed;
  width: 100%;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 12px;
}

// LANGUAGE LINKS
.nav-lang {
  margin-right: 20px;
  display: flex;
  align-items: center;

  @media only screen and (max-width: $bp-small) {
    margin-bottom: 20px !important;
  }
    
}

.nav-link-lang {
  display: block;
  padding: 10px 12px;
  background-color: $light-gray;
  font-size: 12px;
  line-height: 10px;
  border-radius: 10px;
  color: #000;

  &:hover {
    color: #000;
  }
}

.nav-link-english {
  background-color: $yance-yellow;
  margin-right: -13px;
  z-index: 10;
  transition: all 0.2s;
}

.nav-link-english.switch {
  padding-right: 30px;
  background-color: $light-gray;
  z-index: 0;
  transition: all 0.2s;
}

.nav-link-german {
  padding-left: 20px;
  transition: all 0.2s;
}

.nav-link-german.switch {
  padding-left: 10px;
  background-color: $yance-yellow;
  z-index: 10;
  margin-left: -13px;
  transition: all 0.2s;
}

@media only screen and (max-width: $bp-small) {
  .navbar-lewagon {
    // height: 64px;
  }

  .navbar-toggler {
    // padding: 0.5rem 2rem 2rem 2.3rem;
  }

  .navbar-nav {
    background-color: $white;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-left: -32px;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 130px;
  margin-top: -8px;
}

@media (max-width: 575px) {
  .navbar-lewagon .navbar-brand img {
    // margin-top: -18px;
  }
}

.logo-credits {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav-name {
  font-size: 36px;
}

#nav-credits {
  margin: 0;
  font-weight: bolder;
}

#navbarLogoAndName {
  flex-grow: 0;
}

#nav-statement {
  position: absolute;
  left: 14%;
  top: 31%;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: rgba(0, 0, 0, 0.8);
}

// marys changes 
.navbar-nav {
  align-items: center;
}

.nav-item {
  margin: 0 .5rem;
}

.nav-link {
  padding-left: 0rem !important;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.5px;

  &:hover {
    // border: none;
    // border-bottom: 3px solid #555555 !important;
    // background-color: transparent !important;
  }

  @media only screen and (max-width: $bp-medium) {
    font-size: 16px;
  }

  @media only screen and (max-width: $bp-small) {
    font-size: 20px;
  }
}

@media (max-width: 575px) {
  .nav-link {
    margin-bottom: 12px;
    font-weight: bold;
  }
}

#navbarDropdown {
  cursor: pointer;
}

#BecomeAtrainer {
  position: absolute;
  right: 163px;
  font-size: 15px;
}

#create-class {
  right: 232px;
  position: relative;
  font-size: 15px;
  top: 16%;
}

.memberships {
  position: relative;
  top: 5px;
  left: 430px;
  font-size: 15px;
  color: black;
  &:hover {
    color: black;
    text-decoration: none;
  }
}

.dropdown-menu-right {
  border-radius: 4px;
  border-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 12px;
}

.dropdown-item {
  font-size: 14px;
  &:hover {
    background-color: rgba(254, 223, 68, 0.2);
  }
}

.dropdown {
  list-style: none;
}

.navbar-toggler {
  border: none;
}

#navbarDropdown.fas.fa-language.dropdown-toggle::after {
  display: none;
}

#navbarDropdown.fas.fa-globe.dropdown-toggle::after {
  display: none;
}

#language-dropdown {
  min-width: 72px;
  left: -50%;
}

.fa-language {
  font-size: 22px;
  color: $dark-text;
  padding-top: 7px;
  margin-left: 8px;
}

.fa-globe {
  font-size: 22px;
  color: $dark-text;
  padding-top: 7px;
  margin-left: 8px;
}


