.search-container {
  padding-bottom: 100px;
  .connect-mobile {
      padding-top: 14vh;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      position: fixed;
      z-index: 5;
      left: 30px;
      /* top: 41px; */
      bottom: 92px;
      .connect-header-mobile {
        margin: 0 !important;
        padding: 6px 0;
        padding: 1px 6px;
        color: $yance-yellow;
        font-weight: 700;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        font-size: 15px;
      }
    }
    .chatroom-buttons-mobile {
      margin-top: 3vh;
    .chatroom-button-mobile {
        box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 15px;
        background-color: #FFBA8D;
        display: flex;
        background-color: none;
        border-radius: 50px;
        padding: 4px;
        width: 108%;
        align-items: center;
        justify-content: center;
        margin: 10px;
      h6 {
        font-size: 16px;
        font-family: $body-font;
        color: black;
        font-weight: 700;
        letter-spacing: 0.5px;
        margin: 0;
        padding: 12px;
      }
    }
    .chatroom-button-mobile:hover {
      h6 {
        padding: 14px;
      }
    }
    #community-button-text-mobile{
      margin: 0;

    }
    #classes-chatrooms-mobile {
      // background-color: $yance-yellow;
      // margin-bottom: 8vh;
    }
    .fa-comments {
      font-size: 1.3em;
      position: relative;
      display: flex;
      align-self: center;
      color: black;
    }
  }
}



@media(min-width: 992px) {
  .sportsclasses-container {
    .connect-mobile {
      display: none;
      .connect-header-mobile {
        display: none;
      }
    }
  }
}
  @media(max-width: 449px){
    .sportsclasses-container {
      .connect-mobile {
        left: 4px;
        bottom: 78px;
        .connect-header-mobile {
          display: none;
        }
      }
    }
  }



.searchbar {
  padding: 1px 50px;
  border-radius: 75px / 75px;
  height: 50px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 12px !important;
  border: none;
}

.searchbar:focus {outline:0;}

.search-button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: $yance-yellow;
  border: none;
}

.search-button:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 15px;
  // transition-delay:0.3s;
}

.btn:focus {outline:0 !important;}

.search-icon {
  color: white;
  position: absolute;
  margin-right: 10px;
  right: 1px;
  top: 13px;
}


.button {
  position: absolute;
  display: flex;
  align-items: center;
  right: 21px;
  top: 5px;
}

form_tag {
  position: relative;
  width: 70%;
}

.datepicker {
  position: absolute;
  height: 50px;
  right: 35px;
  top: 0px;
  width: 34%;
  padding: 5px 12px;
  border-radius: 75px / 75px;
  background-color: white !important;
  border: none;
}

// FLATPICKR

.flatpickr-day.selected {
  background-color: $yance-yellow !important;
  border: none;
  box-shadow: none!important;
}

.flatpickr-day.selected:focus {
  background-color: $yance-yellow !important;
  border: none;
  outline: 0;
}

.flatpickr-day.selected:hover {
  background-color: $yance-yellow !important;
  border: none;
}

// START RANGE

.flatpickr-day.startRange:hover {
  background-color: $yance-yellow !important;
  border: none;
  box-shadow: none !important;
}

.flatpickr-day.startRange {
  background-color: $yance-yellow !important;
  border: none;
  box-shadow: none !important;
}

.flatpickr-day.selected.startRange:focus {
  background-color: $yance-yellow !important;
  border: none;
  outline: 0;
  box-shadow: none !important;
}

.flatpickr-day.startRange:focus {
  background-color: $yance-yellow !important;
  border: none;

}

// END RANGE

.flatpickr-day.selected.endRange:focus {
  background-color: $yance-yellow !important;
  border: none;
  outline: 0;
  box-shadow: none !important;
}

.flatpickr-day.selected.endRange {
  background-color: $yance-yellow !important;
  border: none;
  box-shadow: none !important;
}

.flatpickr-day.endRange:hover {
  background-color: $yance-yellow !important;
  border: none;
  box-shadow: none !important;
}

.flatpickr-day.endRange {
  background-color: $yance-yellow !important;
  border: none;
  box-shadow: none !important;
}

@media(max-width: 575px) {
  .searchbar{
    padding: 1.0rem 1.0rem 1.0rem 1.5rem;
  }
}
