.chatroom-show-container {
  height: 100vh;
  width: 60vw;
  padding: 10%;

}

.box-container {
  box-shadow: 0 2px 14px rgba(126,87,88,.1), 0 3px 6px rgba(0,0,0,.08);
  border-radius: 8px;
  padding: 16px;
  height: 100%;
  width: 100%;
}
