.sports-classes-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}

@media(max-width: 992px) {
  .sports-classes-cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .sports-classes-cards {
    grid-template-columns: 1fr;
  }
}


.sports-classes-card {
  box-shadow: 0 2px 14px rgba(126,87,88,.1), 0 3px 6px rgba(0,0,0,.08);
  border-radius: 4px;
}

.class-card-header {
  padding: 0px 16px;
  padding-left: 0px;
}


.profile-class-card-datetime {
  font-size: 12px;
  font-weight: bolder;
  width: 100%;
  padding: 0px 0px;
  color: black;
  text-align: center;
}

.class-card-datetime {
  font-size: 14px;
  font-weight: bolder;
  width: 100%;
  padding: 0px 16px;
  color: black;
  text-align: center;
}

.time-label {
  width: 100px;
  text-align: center;
  background-color: rgba(196, 196, 196, 0.1);
  padding: 16px 12px;
}

.class-card-month {
  margin-bottom: 0px;
  font-size: 12px;
}

.class-card-day {
  margin-bottom: 0px;
  font-weight: bolder;
  font-size: 14px;
  margin-bottom: 8px;
}

.class-card-time {
  margin-bottom: 0px;
  font-weight: bolder;
  font-size: 14px;
  border-top: 0.25px solid #929292;
  padding-top: 8px;
}

.card-header-right {
  padding-top: 16px;
  text-align: end;
  color: #929292;
}

.class-card-title {
  font-size: 14px;
  font-weight: bolder;
}

.class-card-category {
  font-size: 14px;
  font-weight: bolder;
  margin-bottom: 4px;
}

.class-card-duration {
  font-size: 14px;
  font-weight: bolder;
  margin-bottom: 4px;
  color: #929292;
}

.class-card-language {
  font-size: 14px;
  margin-bottom: 8px;
  font-weight: bolder;
  color: #929292;
}

.class-card-equipment {
  font-size: 12px;
  font-weight: bolder;
  margin-bottom: 4px;
  color: #929292;
}

.class-card-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  object-position: center;
}

.card-bottom-section {
  padding: 8px 16px 0px 16px;
}

.class-card-level-title {
  font-size: 12px;
  font-weight: bolder;
  color: #929292;
  margin-bottom: 4px;
  text-align: center;
}

.class-card-level-content {
  font-size: 10px;
  font-weight: bolder;
  text-align: center;
}

.class-card-trainer {
  display: flex;
  height: 40px;
  margin-bottom: 16px;
  position: relative;
  bottom: 22px;
  padding-left: 20px;
}

.class-card-fullname {
  margin-left: 20px;
  font-weight: bolder;
  color: black;
}

.class-card-firstname {
  margin-bottom: 0px;
  color: black;
}

.class-card-lastname {
  margin-bottom: 0px;
  color: black;
}

.class-card-footer-grey {
  background-color: rgba(196, 196, 196, 0.1);
}
