.sports-class-modal-dialog {
  max-width: 800px;

}

.sports-class-modal-content {
  height: 100vh;
  border-radius: 4px;
}

.sports-class-modal-inner-content {
  flex: 1 1 auto;
}

.sports-class-modal-right-header {
  height: 25%;
}

.sports-class-modal-description {
  height: 25%;
}

.sports-class-modal-bio {
  height: 25%;
}

.sports-class-modal-class-image {
  height: 30%;
}

.sports-class-modal-trainer-name{

}

.sports-class-modal-class-image {

}

.sports-class-modal-avatar {

}

.close {
  position: relative;
  bottom: 75px;
  left: 21px;
}
