.u-center-text {
    text-align: center !important;
}

.u-margin-bottom-small {
    margin-bottom: 15px
}

.u-margin-bottom-medium {
    margin-bottom: 30px
}
.u-margin-bottom-medium-plus {
    margin-bottom: 40px
}

.u-margin-bottom-large {
    margin-bottom: 60px
}

.u-margin-top-exlarge {
    margin-top: 100px;
}

.u-margin-top-large {
    margin-top: 80px;
}

.u-margin-top-medium {
    margin-top: 60px;
}

.u-margin-top-small {
    margin-top: 40px;
}