.subscription-tagline {
  width: 625px;
  padding-top: 24px;
  font-size: 24px;
  font-weight: bolder;
  color: $dark-text;
}

.info-title {
  font-size: 16px;
  font-weight: bolder;
  color: $dark-text;
}

.membership-recap {
  border-top: solid 1px #354147;
  margin-top: 30px;
}

.checkout-container {
  margin-top: 100px;
}
