<h1>Welcome to yance, <%= @trainer.user.first_name %></h1>
  <p>
    You have successfully signed up to yance, the leading online platform for live sport classes!
  </p>

  <p>Here are your next steps to create your first class:</p>
  <p>STEP 1</p>
  <p>STEP 2</p>
  <p>STEP 3</p>

<p>Thanks for joining and have a great day!</p>
