// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// Javascript
@import "flatpickr/dist/flatpickr";
@import "jquery-bar-rating/dist/themes/css-stars";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/trainershow";

// Body style
body {
  background-color: white;
}

a {
  text-decoration: none !important;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: white;
}

.main-content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  .content {
    flex-grow: 1;
  }
}
