
<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
    <tr>
      <td align="center" valign="top">
        <!-- Header -->
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" class="p30-15" style="padding: 30px;">
              <table width="650" border="0" cellspacing="0" cellpadding="0" class="mobile-shell">
                <tr>
                  <td class="td" style="width:650px; min-width:650px; font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;">
                    <!-- Header -->
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <th class="column" width="145" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;">
                          <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td class="img m-center" style="font-size:0pt; line-height:0pt; text-align:left;">
                                <%= link_to root_url do %>
                                  <%= image_tag('https://res.cloudinary.com/dorianwilsondebriano/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1606231079/Yance-yelloy-logo_weypsf.png', height: '37') %>
                                <% end %>

                                </td>
                            </tr>
                          </table>
                        </th>
                        <th class="column-empty2" width="1" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;"></th>
                        <th class="column" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;">
                          <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td class="text-header" style="color:#999999; font-family:'Montserrat', Arial ,sans-serif; font-size:14px; line-height:18px; text-align:right;"><a href="#" target="_blank" class="link2" style="color:#999999; text-decoration:none;"><span class="link2" style="color:#999999; text-decoration:none;">Open in your browser</span></a></td>
                            </tr>
                          </table>
                        </th>
                      </tr>
                    </table>
                    <!-- END Header -->
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <!-- END Header -->

        <!-- Intro -->
        <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
          <tr>
            <td align="center">
              <table width="650" border="0" cellspacing="0" cellpadding="0" class="mobile-shell">
                <tr>
                  <td class="td" style="width:650px; min-width:650px; font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td class="bbrr" bgcolor="#ffffff" style="border-radius:0px 0px 12px 12px;">
                          <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td class="p30-15" style="padding: 50px 30px 60px 30px;">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                  <tr>
                                    <td class="h3 center pb25" style="color:#000000; font-family:'Montserrat', Arial ,sans-serif; font-size:24px; line-height:32px; font-weight:bold; text-align:center; padding-bottom:25px;">Welcome to yance, <%= @trainer.user.first_name %></td>
                                  </tr>
                                  <tr>
                                    <td class="text-center pb25" style="color:#777777; font-family:'Montserrat', Arial,sans-serif; font-size:17px; line-height:30px; text-align:center; padding-bottom:25px;">
                                      <p>Hello <%= @resource.email %>!</p>

                                      <p>We're contacting you to notify you that your password has been changed.</p>
                                    <br>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                    <!-- END Intro -->
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <!-- END Intro -->

        <!-- Footer -->
        <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#F7F7F7">
          <tr>
            <td valign="top" align="center" class="p30-15" style="padding: 50px 0px 50px 0px;">
              <table width="650" border="0" cellspacing="0" cellpadding="0" class="mobile-shell">
                <tr>
                  <td class="td" style="width:650px; min-width:650px; font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td align="center" style="padding-bottom: 30px;">
                          <table border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <i class="fab fa-instagram color-icon"></i>
                              <i class="fab fa-twitter color-icon"></i>
                              <i class="fab fa-facebook color-icon"></i>
                            </tr>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td class="text-footer1 pb10" style="color:#999999; font-family:'Montserrat', Arial,sans-serif; font-size:14px; line-height:20px; text-align:center; padding-bottom:10px;">Yance is an online platform bringing together sportsclasses of all types to the luxury of your living room.</td>
                      </tr>
                      <tr>
                        <td class="text-footer2 pb20" style="color:#999999; font-family:'Montserrat', Arial,sans-serif; font-size:12px; line-height:26px; text-align:center; padding-bottom:20px;">Yoga Straße, Leipzig, Germany</td>
                      </tr>
                      <tr>
                        <td class="text-footer2" style="color:#999999; font-family:'Montserrat', Arial,sans-serif; font-size:12px; line-height:26px; text-align:center;"><a href="#" target="_blank" class="link-grey-u" style="color:#999999; text-decoration:underline;"><span class="link-grey-u" style="color:#999999; text-decoration:underline;">Unsubscribe</span></a> from this mailing list.</td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <!-- END Footer -->
      </td>
    </tr>
  </table>
