<div class="container reviews-section pt-4">
  <div class="row d-flex justify-content-center">
    <div class="col-12 p-0">
      <div class="review-form mb-5">
        <%= simple_form_for [@trainer, @review] do |f| %>
          <%= f.input :content, label: "Write a review" %>
          <%= f.input :rating, collection: (1..5), label: "Rating:"%>

          <%=f.submit 'Create Review', class: "btn review-button"%>
        <% end %>
      </div>
    </div>
  </div>
</div>
